.new-detail__img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
}

.new-detail {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.new-detail p{
    margin: 0;
}

.new-detail__date-submitted{
    font-size: 0.8em;
    color: grey;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 8px;
}

.new-detail__title{
    font-size: 1.5em;
    font-weight: 600;
}

.new-detail__type{
    padding: 4px 8px;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    background-color: red;
}