.admin-container{
    width: 100vw;
    display: flex;

}

.admin__menu-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.admin__content{
    width: 100%;
    min-height: 100vh;
    background-color: #e5e9eb;
    padding: 16px 0px;
}

.admin-title{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 16px;
}

.admin-item__content{
    width: 100%;
    height: fit-content;
    padding-bottom: 8px;
    background-color: white;
    border-radius: 8px;
}

.admin-item__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px ;
    border-bottom: 1px solid #e1e1e1;
}

.ai__filter-item{
    display: flex;
    
}

.drawer__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 16px;
}

.drawer__btn-close{
    cursor: pointer;
}

.drawer__btn-close:hover {
    color: black;
}

.drawer__btn-close:active{
    transform: scale(0.9);
}

.drawer__show-img-upload {
    width: 100%;
    height: 20%;
    object-fit: cover;
}

.drawer__content-item .ant-upload-list-picture-card-container{
    width: 100%;
    height: fit-content;
}

.drawer__content-item-title{
    color : #9b9b9b;
    font-size: 1em;
    font-weight: 600;
    margin: 8px 0px;
    
}

.chat-box-admin{
    position: fixed;
    bottom: 8px;
    right: 16px;
}

.chat-box-admin__icon{
    width: fit-content;
    height: fit-content;
    padding: 8px 32px;
    border-radius: 8px;
    border: 2px solid #40A9ff;
    color: white;
    background-color: #40A9ff;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;

}

.chat-box-admin__icon:hover{
    opacity: 1;
}

.chat-box-admin__content{
    min-width: 700px;
    min-height : 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #9d9d9d;

}

.chat-box-admin__title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 2px solid #eaf0f4;

}

.chat-box-admin__icon-title{
    font-weight: 600;
    margin-left: 8px;
    margin-bottom: 8px;
}

.chat-box-admin__list-user{
    border-left: 2px solid #eaf0f4;
    padding: 8px;
    overflow: auto;
}

.chat-box-admin__list-user-item-non-active,
.chat-box-admin__list-user-item-active{
    display: flex;
    /* border-bottom: 1px solid #eaf0f4; */
    align-items: center;
    padding: 8px;
    border-radius: 8px;

}

.chat-box-admin__list-user-item-non-active{
    cursor: pointer;
}

.chat-box-admin__list-user-item-non-active:hover{
    background-color: #f2f2f2;
}

.chat-box-admin__list-user-item-active{
    background-color: #EaF3ff;
}

.chat-box-admin__list-user-info-name{
    font-weight: 600;
    font-size: 1.1em;
}

.chat-box-admin__list-user-mess{
    font-size: 0.8em;
    color: #767676;
    width: 100px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;

}

.chat-box-admin__box{
    display: grid;
    grid-template-columns: 65% 35%;

}